*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{

    width: 600px;
    height: 500px;
    background-color: brown;
    /* border: 2px solid black; */
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: auto 1fr auto;
    /* gap: 1px; */

    grid-template-areas: 
    "hd hd"
    "side main"
    "ft ft";
}

.header{
    grid-area: hd;
    background-color: lime;
    
    padding: 1rem;
}

.sidebar{
    grid-area: side;
    background-color: yellow;
    
    padding: 1rem;
}

.content{
    grid-area: main;
    background-color: aqua;
    
    padding: 1rem;
}

.footer{
    grid-area: ft;
    background-color: green;
  

    display: flex;
    justify-content: space-between;
    padding: 1rem;
}